<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/NutritionCalculator-template.css">
    <title>Nutrition Value Calculator</title>
</head>
<body>
    <h1>Nutrition Value Calculator</h1>
    <p>Enter ingridients and quantities below in order to calculate your recipe's nutrition values:</p>

    <form id='form' autocomplete="off">
        <ul id="rows">
            <li class="ingRow">
                <input type="number" name="qty" class="qty" step="0.25" placeholder="Quantity" required>
                <select name="unit" class='unit' required>
                    <option value="" disabled selected>Choose unit:</option>
                    <option value="grams">Grams</option>
                    <option value="cups">Cups</option>
                    <option value="tbsp">Tbsp</option>
                    <option value="tsp">Tsp</option>
                </select>
                <input type="text" class="ingredient" name="ingredient" placeholder="Ingredient" required autocomplete="off">
                <button type="button" onclick='deleteElement(this.parentElement)'>Delete</button>
            </li>

        </ul>

        <br>
        <button type="button" onclick="addNewIngRow('rows')">Add ingredient</button>
        <button type="button" onclick="calculateNutritionValue('rows')">Calculate</button>
    </form>

    <br>
    <div id="output"></div>

    <script src="/static/autocomplete.js"></script>
    <script src="/static/calculatorScript.js"></script>

</body>
</html>